/.git*
/.idea*
_ide_helper.php
vendor/
bootstrap/cache
storage/laravel-ci-training-mysql-data/
!bootstrap/cache/.gitignore
.dockerignore
.editorconfig
Dockerfile
docker-compose.yml
Makefile
scripts/
.DS_Store
