/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/laravel-ci-training-mysql-data/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php
.idea
.vscode
.DS_Store
cghooks.lock
/cypress/screenshots/
/cypress/videos/

